
<div style="display: flex;justify-content: center; align-items: center;">

<mat-card style="width: 95%;">
  <br>
  <div  style="display: flex;justify-content: center; align-items: center;font-size: 36px;">
    <i>Let us know.</i>
  </div>
    <br><br>

<div>

  <form style="width: 100%"  [formGroup]="formData">
<!--    <mat-label>Rating-->
    <div style="display: flex;justify-content: center; align-items: center;">
      <mat-label style="color: dimgray; margin-bottom: 2px;"><i>Your Rating</i></mat-label>
    </div>
    <star-rating-control formControlName="rating"  id="rating" required [starType]="'svg'" [size]="$any('large')" speed="slow"></star-rating-control>
<!--    </mat-label>-->
      <br><br>
    <mat-form-field style="width: 100%;">
      <mat-label>What's your name?</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <mat-label>Tell us how your poop went.</mat-label>
      <textarea matInput  rows="6" id="description" formControlName="description"></textarea>
    </mat-form-field>


    <div style="display: flex;justify-content: center; align-items: center;">

      <button mat-raised-button (click)="getLocation()"  style="font-family: Serif; background-color: forestgreen;width: 55%;  font-size: 14px; color: white"><b>📍 Add Your Location</b></button>

    </div>

    <br>

    <ng-container *ngIf="poopLocation">
      <div style="display: flex;justify-content: center; align-items: center;">
      Your toilet sent back your location as<br>
      </div>
      <div style="display: flex;justify-content: center; align-items: center;">
        <i><b><span style="color: #3366ff"> {{this.poopLocation.fullAddr}} </span></b></i>
      </div>
    </ng-container>

    <br><br>
    <div style="display: flex;justify-content: right; align-items: center;">

      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>

      <button mat-raised-button [class.spinner]="loading" [disabled]="loading" type="submit" (click)="onSubmit()" style="font-family: Serif; background-color: #3366ff;width: 80%; margin-right: 10%;  font-size: 19px; color: white"><b>{{this.buttonText}}</b></button>
    </div>
  </form>

</div>
<br>

  <br><br>
</mat-card>
</div>
