<div style="display: flex; justify-content: center">
  <mat-card style="width: 90%;">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="tableHeader">Poop Diaries
          <br>
          <span style="margin-top: 155px">
        Leaderboard
      </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-xs-12">
        <table class="table-bordered">
          <thead>
          <tr class="camper">
            <th class="number">User</th>
            <!--            <th>Unique Cities</th>-->
            <!--            <th>Unique States</th>-->
            <th class="number">
              Aye Score
              <div></div>
            </th>
          </tr>
          </thead>
          <!--        <tbody ng-repeat="camper in campers | orderBy: sortColumn : reverseSort">-->
          <tbody>
          <!--          {{this.dataMap.values()}}-->
          <ng-container *ngIf="this.sortedMap">
            <ng-container *ngFor="let d of this.sortedMap;">
              <tr class="camper">
                <td><i>{{d[0][0] + d[0].slice(1).toLowerCase()}}</i></td>
                <!--                <td class="number">0</td>-->
                <!--                <td class="number">0</td>-->
                <td class="number" style="color: #3366ff; font-weight: 500;">{{d[1].ayeScore}}</td>
              </tr>
            </ng-container>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </mat-card>

</div>

