
<br>


<br><br>
<div style="display: flex; justify-content: center">
  <p style="font-size: 52px">POOP<br><br><br> DIARIES</p>
</div>
<br><br><br>

<div style="display: flex; justify-content: center">
<img src="https://cdn.wimpykidwiki.com/b/bb/Did_you_poop.jpg" width="90%;" style="max-width: 1000px;">
</div>

<br><br><br>

<div style="display: flex; justify-content: center">



  <br><br><br>
  <button mat-raised-button routerLink="/Poop-Form"  style="font-family: Serif; background-color: #a58570; height: 110px; width: 300px;font-size: 26px; "><b>Submit your own poop</b></button>


</div>
<br><br><br>


<hr style="width: 80%;">
<br><br><br><br>

<div style="display: flex; justify-content: center">

<p style="font-size: 44px">Past poops...</p>
</div>

<br><br><br>

<ng-container *ngFor="let poo of poops$ | async;">

<div style="display: flex; justify-content: center">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{poo.name}}</mat-card-title>
    <mat-card-subtitle>PoopButt</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ytimg.com/vi/fxE-FCxnRA0/maxresdefault.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div style="display: flex; align-items: center; justify-content: end">
       <ng-container *ngIf="poo.date">
      <i> {{poo.date | date:'fullDate'}} at {{poo.date | date:'shortTime'}} </i>
       </ng-container>
    </div>
    <div style="display: flex; align-items: center; justify-content: center">

    <star-rating [starType]="'svg'" [rating]="poo.rating" [size]="$any('large')" speed="slow" readOnly="true"></star-rating>

<!--      <div style="margin-left: auto; order: 2;">-->
<!--      </div>-->
</div>


    <div style="display: flex;justify-content: center; align-items: center;">
<br>
      <p>
"{{poo.description}}"
    </p>
    </div>
  </mat-card-content>
<!--  <hr style="border: 1px solid lightgray;">-->
<!--  <mat-card-actions>-->
<!--    <div style="display: flex;justify-content: center; align-items: center;">-->
<!--      <button mat-raised-button (click)="addLike()" style="font-family: Serif; background-color: #98d4bc;width: 30%;"><b>LIKE    <span style="margin-left: 8px;"><u>[{{this.likeCount}}]</u></span></b></button>-->
<!--    <button mat-raised-button (click)="addDislike()" style="font-family: Serif; background-color: #f88474;width: 30%"><b>DISLIKE    <span style="margin-left: 8px;"><u>[{{this.dislikeCount}}]</u></span></b></button>-->
<!--    </div>-->
<!--    <br><br>-->
<!--    <div style="display: flex;justify-content: center; align-items: center;">-->
<!--      <form style="width: 80%">-->
<!--        <mat-form-field style="width: 100%;">-->
<!--        <mat-label>Your name</mat-label>-->
<!--        <input matInput>-->
<!--      </mat-form-field>-->
<!--      <br>-->
<!--      <mat-form-field style="width: 100%;">-->
<!--        <mat-label>Leave a comment</mat-label>-->
<!--        <textarea matInput  rows="6" ></textarea>-->
<!--      </mat-form-field>-->



<!--        &lt;!&ndash;      <mat-form-field style="width: 90%;">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Leave a comment</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-raised-button (click)="addDislike()" style="font-family: Serif; background-color: #f88474;width: 30%"><b>DISLIKE    <span style="margin-left: 8px;"><u>[{{this.dislikeCount}}]</u></span></b></button>&ndash;&gt;-->

<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--      </form>-->

<!--    </div>-->
<!--    <br>-->
<!--    <div style="display: flex;justify-content: right; align-items: center;">-->
<!--      <button mat-raised-button (click)="addDislike()" style="font-family: Serif; background-color: #3366ff;width: 40%; margin-right: 10%; font-size: 18px; color: white"><b>Submit</b></button>-->
<!--    </div>-->
<!--    <br><br>-->
<!--  </mat-card-actions>-->
</mat-card>
</div>
  <br><br>
</ng-container>

<br><br><br>
