<br><br><br>


<br><br>
<div style="display: flex; justify-content: center">
  <p style="font-size: 52px">POOP<br><br><br> DIARIES</p>
</div>
<br><br><br>

<div style="display: flex; justify-content: center">
<img src="https://cdn.wimpykidwiki.com/b/bb/Did_you_poop.jpg" width="90%;">
</div>

<br><br><br>

<div style="display: flex; justify-content: center">



  <br><br><br>
  <button mat-raised-button style="font-family: Serif; background-color: #a58570; height: 110px; width: 300px;font-size: 26px; "><b>Submit your own poop</b></button>


</div>
<br><br><br>


<hr>
<br><br><br><br>

<div style="display: flex; justify-content: center">

<p style="font-size: 44px">Past poops...</p>
</div>

<br><br><br>

<div div style="display: flex; justify-content: center">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><span style="font-size: xx-large">4/5</span></div>
    <mat-card-title>Jonah Toch</mat-card-title>
    <mat-card-subtitle>PoopButt</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.ytimg.com/vi/fxE-FCxnRA0/maxresdefault.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div style="display: flex;justify-content: center; align-items: center;">
    <p>
"My poop was good."
    </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex;justify-content: center; align-items: center;">
    <button mat-raised-button style="font-family: Serif; background-color: #98d4bc;width: 30%;"><b>LIKE</b></button>
    <button mat-raised-button style="font-family: Serif; background-color: #f88474;width: 30%"><b>DISLIKE</b></button>
    </div>
    <br><br>
    <div style="display: flex;justify-content: center; align-items: center;">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Your name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput style="width: 100%; max-width: 100%; height: 100%; float: left"></textarea>
    </mat-form-field>
    </form>
    </div>
  </mat-card-actions>
</mat-card>
</div>
<br><br><br>
