<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" role="toolbar">
    <button mat-icon-button (click)="snav.toggle();" aria-label="sidebar" role="button">
      <mat-icon>menu</mat-icon>
    </button>


    <ng-container *ngIf="this.innerWidth && this.innerWidth > 450; else smallscreen">
      <h1 class="example-app-name"><a routerLink="/"><img src="assets/logos/gonahlogo.png" alt="The GonahSoftware Logo"
                                                          height="58.5" width="171"
                                                          style="margin-top: 15px; margin-right: 15px">
        <img
          src="assets/logos/ayeapp.png" height="45" width="180" style="margin-bottom: 3px;" alt="Aye App Logo"></a></h1>
    </ng-container>

    <ng-template #smallscreen>
      <h1 class="example-app-name"><a routerLink="/"><img src="assets/logos/ayeapp.png" alt="Aye App Logo" height="45"
                                                          width="180" style="margin-top: 24px;"></a></h1>
    </ng-template>

<!--    <ng-container *ngIf="auth.isAuthenticated$ | async;">-->

<!--&lt;!&ndash;      <ng-container *ngIf="auth.idTokenClaims$ | async as token">&ndash;&gt;-->
<!--&lt;!&ndash;        {{token.sub_jwk}}&ndash;&gt;-->
<!--&lt;!&ndash;        {{token.__raw}}&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-container>&ndash;&gt;-->


<!--      <ng-container *ngIf="auth.user$ | async as user">-->

<!--        <span class="example-spacer"></span>-->
<!--        &lt;!&ndash;        {{user.nickname}}&ndash;&gt;-->
<!--        &lt;!&ndash;        {{auth.idTokenClaims$}}&ndash;&gt;-->
<!--        &lt;!&ndash;        {{user.preferred_username}}&ndash;&gt;-->
<!--&lt;!&ndash;        <a [routerLink]="['/profile/' + user.profile]">&ndash;&gt;-->
<!--          <button mat-icon-button aria-label="profile" role="button"-->
<!--                  matTooltip="Your profile" routerLink="/profile/{{user.preferred_username}}">-->
<!--            <mat-icon>child_care</mat-icon>-->
<!--          </button>-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--        <button mat-icon-button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })"-->
<!--                matTooltip="Log out"-->
<!--                aria-label="profile"-->
<!--                role="button">-->
<!--          <mat-icon>logout</mat-icon>-->
<!--        </button>-->
<!--      </ng-container>-->
<!--    </ng-container>-->

  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list style="padding: 0;">
        <a mat-list-item routerLink="/softball" (click)="snav.toggle()">
          <!--          <img src="assets/skyler.PNG" height="75px" width="75px" style="margin-right: 5px;  border-radius: 50%;">-->
          <b>🥎<span style="margin-left: 5px;">Aye's & Bae's</span></b>
          <!--          <button mat-button mat-small class="badge-button" style="background-color: #3366ff"><b>NEW UPDATE😮</b></button>-->
        </a>
        <a mat-list-item routerLink="/poop-diaries" (click)="snav.toggle()">
          <!--          <img src="assets/skyler.PNG" height="75px" width="75px" style="margin-right: 5px;  border-radius: 50%;">-->
          <b>📓<span style="margin-left: 5px;">Poop Diaries</span></b>
          <!--          <button mat-button mat-small class="badge-button" style="background-color: #3366ff"><b>NEW UPDATE😮</b></button>-->
        </a>
<!--        <a mat-list-item routerLink="/leaderboards" (click)="snav.toggle()">-->
<!--          &lt;!&ndash;          <img src="assets/skyler.PNG" height="75px" width="75px" style="margin-right: 5px;  border-radius: 50%;">&ndash;&gt;-->
<!--          <b>🏆<span style="margin-left: 5px;">Leaderboards</span></b>-->
<!--          &lt;!&ndash;          <button mat-button mat-small class="badge-button" style="background-color: #3366ff"><b>NEW UPDATE😮</b></button>&ndash;&gt;-->
<!--        </a>-->
        <!--        <br><br>-->
        <!--        <span style="margin-left: 10px;">🤔</span> <span style="margin-left: 5px; margin-right: 5px;">More coming soon...</span>-->
        <!--        <br><br>-->
        <!--        <a mat-list-item routerLink="/Pokayemon" (click)="snav.toggle()"><img src="assets/chuck.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Pokayemon</b> <button mat-button mat-small class="badge-button" style="background-color: #c38427"><b>WIP 😊</b></button></a>-->
        <!--        <br><br>-->
        <!--        <a mat-list-item routerLink="/Goblin-Dating-Simulator" (click)="snav.toggle()"><img src="assets/walter.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Goblin Dating Sim</b><button mat-button mat-small  class="badge-button" style="background-color: #c38427"><b>WIP 😊</b></button></a>-->
        <!--        <br><br>-->
        <!--        <a mat-list-item routerLink="/Feedback"  (click)="snav.toggle()"><img src="assets/gus.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Careers</b></a>-->
        <!--        <a mat-list-item routerLink="/Ayes-And-Baes" (click)="snav.toggle()"><img src="assets/gus.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Aye's and Bae's</b></a>-->
        <!--        <br><br>-->
        <!--        <a mat-list-item routerLink="/Bergler"  (click)="snav.toggle()"><img src="assets/jesse.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Bergler</b></a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="footer">
    <span style="float: left;">𝐆𝐨𝐧𝐚𝐡 𝐒𝐨𝐟𝐭𝐰𝐚𝐫𝐞 </span>
    <span style="float: right; font-weight: lighter">{{this.version}}</span>
  </div>
</div>
