
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle();"><mat-icon>menu</mat-icon></button>


    <ng-container *ngIf="this.innerWidth && this.innerWidth > 450; else smallscreen">
    <h1 class="example-app-name"><a routerLink="/"><img src="assets/logos/gonahlogo.png" height="65" width="190" style="margin-top: 0px; margin-right: 15px"><img src="assets/logos/ayeapp.png" height="45" width="190" style="margin-bottom: 10px;"></a></h1>
    </ng-container>

    <ng-template #smallscreen>
      <h1 class="example-app-name"><a routerLink="/"><img src="assets/logos/ayeapp.png" height="45" width="180" style="margin-top: 10px;"></a></h1>
    </ng-template>


  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/Poop-Diaries"  (click)="snav.toggle()">
<!--          <img src="assets/skyler.PNG" height="75px" width="75px" style="margin-right: 5px;  border-radius: 50%;">-->
          <b>📓<span style="margin-left: 5px;">Poop Diaries</span></b>
<!--          <button mat-button mat-small class="badge-button" style="background-color: #3366ff"><b>NEW UPDATE😮</b></button>-->
        </a>
<!--        <br><br>-->
<!--        <span style="margin-left: 10px;">🤔</span> <span style="margin-left: 5px; margin-right: 5px;">More coming soon...</span>-->
<!--        <br><br>-->
<!--        <a mat-list-item routerLink="/Pokayemon" (click)="snav.toggle()"><img src="assets/chuck.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Pokayemon</b> <button mat-button mat-small class="badge-button" style="background-color: #c38427"><b>WIP 😊</b></button></a>-->
<!--        <br><br>-->
<!--        <a mat-list-item routerLink="/Goblin-Dating-Simulator" (click)="snav.toggle()"><img src="assets/walter.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Goblin Dating Sim</b><button mat-button mat-small  class="badge-button" style="background-color: #c38427"><b>WIP 😊</b></button></a>-->
<!--        <br><br>-->
<!--        <a mat-list-item routerLink="/Feedback"  (click)="snav.toggle()"><img src="assets/gus.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Careers</b></a>-->
<!--        <a mat-list-item routerLink="/Ayes-And-Baes" (click)="snav.toggle()"><img src="assets/gus.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Aye's and Bae's</b></a>-->
<!--        <br><br>-->
<!--        <a mat-list-item routerLink="/Bergler"  (click)="snav.toggle()"><img src="assets/jesse.PNG" height="75px" width="75px" style="margin-right: 5px; border-radius: 50%;"><b>Bergler</b></a>-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
<router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <div class="footer">
    <span style="float: left;">𝐆𝐨𝐧𝐚𝐡 𝐒𝐨𝐟𝐭𝐰𝐚𝐫𝐞 </span>
    <span style="float: right; font-weight: lighter">{{this.version}}</span>
  </div>
</div>
