<div
  style="margin-top: 10px; margin-bottom: 10px; display: flex; justify-content: center; align-items: center; font-size: 50px; line-height: 1;">
  <!--      <span style="font-size: 65px; line-height: 1;">-->
  <b><i>Aye's & Bae's</i></b>
  <!--      </span>-->
</div>

<div style="margin-top: 10px; margin-bottom: 10px; display: flex; justify-content: center;">

    <span style="font-size: 26px;">
      <span style="color: green"><b>2</b></span> Wins - <span style="color: red"><b>1</b></span> Loss
    </span>
</div>
<br>

<div
  style=" display: flex; justify-content: center; align-items: center;">
  <img src="{{this.softballImgUrl}}" alt="softball team pic" style="width: 95%; max-width: 850px;">

</div>


<div style="display: flex; justify-content: center">

  <button mat-raised-button (click)="changePhoto('red')"
          style="font-family: serif; background-color: darkred; width: 15%; min-width: 80px; font-size: 16px; color: white; padding: 20px; max-width: 650px; margin: 10px;">
    <b>06/10/23</b></button>
  <button mat-raised-button (click)="changePhoto('orange')"
          style="font-family: serif; background-color: darkorange; width: 15%; min-width: 80px; font-size: 16px; color: white; padding: 20px; max-width: 650px; margin: 10px;">
    <b>06/10/23</b></button>
  <button mat-raised-button (click)="changePhoto('yellow')"
          style="font-family: serif; background-color: yellow; width: 15%; min-width: 80px; font-size: 16px; color: black; padding: 20px; max-width: 650px; margin: 10px;">
    <b>06/10/23</b></button>
</div>

<!-- TODO: Write caption for each game--->

<br>

<ng-container *ngIf="dataSource.data.length > 0">
  <div class="mat-elevation-z8"
       style="margin-top: 10px; overflow: auto; width: 98%; margin-left: 1%; margin-right: 1%;"
       tabindex="0">
    <ng-container>
      <table [dataSource]="dataSource" mat-table matSort matSortStart="desc" matSortDisableClear
             (matSortChange)="announceSortChange($event)">


        <ng-container matColumnDef="name" sticky>

          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <b>Player</b>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>

          <td *matCellDef="let element"
              mat-cell style="justify-content: center">
            <b style="justify-content: center">
              {{element.name}} <span style="color: gray">{{element.position}}</span>

            </b>
          </td>
        </ng-container>


        <ng-container matColumnDef="games" style="justify-content: center">

          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('G')" class="stat-button"><b>G</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>

          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.games}}
          </td>
        </ng-container>

        <ng-container matColumnDef="plateAppearances">

          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('PA')" class="stat-button"><b>PA</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>

          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.plateAppearances}}

          </td>
        </ng-container>

        <ng-container matColumnDef="runs">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('R')" class="stat-button"><b>R</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.runs}}

          </td>
        </ng-container>

        <ng-container matColumnDef="hits">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('H')" class="stat-button"><b>H</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.hits}}

          </td>
        </ng-container>

        <ng-container matColumnDef="doubles">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('2B')" class="stat-button"><b>2B</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.doubles}}

          </td>
        </ng-container>

        <ng-container matColumnDef="triples">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('3B')" class="stat-button"><b>3B</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.triples}}

          </td>
        </ng-container>

        <ng-container matColumnDef="homeruns">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('HR')" class="stat-button"><b>HR</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.homeruns}}

          </td>
        </ng-container>

        <ng-container matColumnDef="rbis">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('RBI')" class="stat-button"><b>RBI</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.rbis}}

          </td>
        </ng-container>

        <ng-container matColumnDef="walks">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('BB')" class="stat-button"><b>BB</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{element.walks}}

          </td>
        </ng-container>

        <ng-container matColumnDef="battingAverage">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('AVG')" class="stat-button"><b>AVG</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{calcAvg(element.plateAppearances, element.walks, element.hits) | number: '.3-3'}}

          </td>
        </ng-container>

        <ng-container matColumnDef="onBasePercentage">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('OBP')" class="stat-button"><b>OBP</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{calcOBP(element.hits, element.walks, element.plateAppearances) | number: '.3-3'}}

          </td>
        </ng-container>

        <ng-container matColumnDef="sluggingPercentage">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('SLG')" class="stat-button"><b>SLG</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{calcSlugging(element.hits, element.doubles, element.triples, element.homeruns,
            element.plateAppearances, element.walks) | number: '.3-3'}}

          </td>
        </ng-container>

        <ng-container matColumnDef="onBasePlusSlugging">
          <th mat-header-cell *matHeaderCellDef class="stat-header">
            <button (click)="openStatExplanation('OPS')" class="stat-button"><b>OPS</b></button>
            <div style="display: flex; justify-content: center">
              <span mat-sort-header></span>
            </div>
          </th>
          <td *matCellDef="let element; let i = index;"
              mat-cell>
            {{calcOPS(element.hits, element.doubles, element.triples, element.homeruns,
            element.plateAppearances, element.walks) | number: '.3-3'}}

          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[8, 16, 24]"
                     aria-label="Select page of work order"
                     showFirstLastButtons>
      </mat-paginator>
      <!--Refer to this package for how the data is output as csv: https://github.com/scttcper/ngx-csv -->
      <ng-container *ngIf="dataSource.data.length >= 1">
        <a [data]="dataSource.data" filename="ayes-and-baes-stats-{{getCurrDate()}}.csv" csvLink>
          <button mat-raised-button
                  style="width: 40%; max-width: 375px; background-color: #fad900; color: black; margin-left: 10px; margin-bottom: 10px;">
            <b>Download Data</b>
          </button>
        </a>
      </ng-container>


    </ng-container>

  </div>
</ng-container>
