<!--<br><br><br>-->



<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--<div style="display: flex; justify-content: center">-->
<!--  <span style="font-family: Pokemon; font-size: 28px;">-->
<!--    Wild-->
<!--    <br><br>-->
<!--    <span style="color: #3366ff">{{this.foundPokemonName.toUpperCase()}}</span>-->
<!--    <br><br>-->
<!--    appeared!</span>-->

<!--</div>-->


<!--<div style="   display:flex;  justify-content:center;">-->

<!--  <br><br><br>-->

<!--<img [src]="pokemonSpriteURL" style="width: 250px; height: 250px;">-->
<!--  <br><br><br>-->
<!--<br><br><br>-->
<!--</div>-->


<!--<button mat-raised-button style="font-family: Pokemon,serif; background-color: #c2423f; margin-left: 15%; margin-bottom: 3%; float: left; height: 60px; width: 100px;font-size: 18px; ">Fight</button>-->
<!--<button mat-raised-button style="font-family: Pokemon,serif; background-color: #c38427;  margin-right: 15%;margin-bottom: 3%;float: right; height: 60px; width: 100px;font-size:18px">Bag</button>-->
<!--<br><br><br>-->
<!--<button mat-raised-button style="font-family: Pokemon,serif; background-color: #479422; margin-left: 15%; float: left; height: 60px; width: 100px;font-size: 18px">Pokemon</button>-->
<!--<button mat-raised-button style="font-family: Pokemon,serif; background-color: #29689b;margin-right: 15%;float: right; height: 60px; width: 100px;font-size: 18px">Run</button>-->



<!--<br><br><br>-->
<!--<br><br><br>-->
<!--&lt;!&ndash;&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
