<ng-container *ngIf="loading">
  <div style="display: flex; justify-content: center; margin-top: 10%;">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>


<ng-container *ngIf="!loading">
  <ng-container *ngIf="ayeUser; else noUserFound">
    <div style="display: flex; justify-content: center;margin:0;padding: 0;">
      <mat-card style="max-width: 850px;margin:0;padding: 0;width: 100%;">
        <mat-card-header style="width: 100%; padding: 0; margin-top: 8px;">
          <div style="justify-content: center; display: flex; width: 100%;">
            <mat-card-title style="width: 80%; max-width: 350px;justify-content: center; display: flex;">

              <i><b style="font-size: 30px;overflow-wrap: anywhere">@{{ayeUser.user_metadata.ayeUsername}}</b></i>

            </mat-card-title>
          </div>
          <br>
        </mat-card-header>


        <br>
        <ng-container *ngIf="ayeUser.user_metadata.profilePicUrl; else defaultImage">
          <img mat-card-image src="{{ayeUser.user_metadata.profilePicUrl}}"
               (error)="handleImageError()"
               alt="Profile picture"
               style="border-radius: 5px; width: 95%; max-width: 750px; margin: 10px;">
        </ng-container>
        <ng-template #defaultImage>
          <img mat-card-image src="/assets/images/goblin-silhouette.png"
               alt="Profile picture"
               style="border-radius: 5px; width: 95%; margin: 10px;">
        </ng-template>
        <br>

        <mat-error *ngIf="invalidImageError"
                   style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px;">
          Your profile picture is not a valid image. Try a different one.
        </mat-error>

        <mat-card-content>
          <ng-container *ngIf="editingBio; else showBio">


            <mat-form-field style="width: 100%;">
              <mat-label>New Profile Picture: Enter in a URL to an image</mat-label>
              <input matInput id="newProfilePicUrl" [ngModel]="newProfilePicUrl" (input)="changeProfilePic($event)">
            </mat-form-field>

            <mat-form-field style="width: 100%;">
              <mat-label>Your Bio</mat-label>
              <textarea matInput rows="2" id="bio" style="font-family: 'Cascadia Code',serif; font-size: 16px;"
                        [ngModel]="ayeUser.user_metadata.bio" (input)="changeBio($event)">

              </textarea>
              <button *ngIf="ayeUser.user_metadata.bio" matSuffix mat-icon-button aria-label="Clear"
                      (click)="this.editingBio = !this.editingBio;">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ng-container>

          <ng-template #showBio>
        <span style="font-size: 16px;font-family: 'Cascadia Code',serif">
        {{ayeUser.user_metadata.bio}}<span
          style="margin-left: 25px; border: 2px solid black;padding: 5px; border-radius: 10px;
                background-color: rebeccapurple; font-size: 14px"
          (click)="this.editingBio = !this.editingBio;">✏️</span>
      </span>
          </ng-template>
        </mat-card-content>

        <mat-divider style="margin-top: 18px;"></mat-divider>

        <mat-card-actions style="display: flex;justify-content: center; align-items: center;">


          <button mat-stroked-button
                  style=" width: 65%;"
                  (click)="openQRCodeDialog()"
                  #tooltip="matTooltip"
                  matTooltip="Tap to copy to your clipboard"
                  aria-label="Show tooltip on the button at the end of this section">Share
          </button>


          <ng-container *ngIf="auth.user$ | async as user;">
            <ng-container *ngIf="auth.idTokenClaims$ | async as token;">


              <button mat-stroked-button
                      (click)="updateProfile(user.sub, token.__raw)"
                      style=" width: 65%;"
                      [disabled]="!profileChangesMade"
                      #tooltip="matTooltip"
                      matTooltip="Tap to save your changes"
                      aria-label="Show tooltip on the button at the end of this section">Save Changes
              </button>

            </ng-container>
          </ng-container>
        </mat-card-actions>
        <mat-card-subtitle style="margin-left: 8px; margin-top: 5px;">Joined
          on {{toStandardDate(this.ayeUser!.created_at)}}</mat-card-subtitle>
      </mat-card>
    </div>
  </ng-container>
</ng-container>


<!-- No user found -->

<ng-template #noUserFound>
  <div
    style="display: flex; justify-content: center; width: 100%; height: 90vh; margin:0; padding: 0; align-items: center">
    <mat-card style="max-width: 1150px; margin: 0; align-items: center; width: 100%; height: 100vh;">
      <div
        style="margin: 15% 5% 5%;font-size: 22px; display: flex; justify-content: center">
        <b>The user @{{profileUsername}} was not found.</b>
      </div>

      <div style="display: flex; justify-content: center">
        <img src="assets/error/404-goblin.PNG" alt="Picture of 404 Goblin" style="width: 95%;
        max-width: 650px; border-radius: 15px">
      </div>

      <div style="display: flex; justify-content: center; margin-top: 30px; font-family: verdana, serif;">
        <button mat-raised-button (click)="redirectToHome()"
                style="font-family: serif; background-color: orange; width: 100%;
             font-size: 16px; color: black; padding: 20px; max-width: 850px;">
          <b>Back to Home🤹</b>
        </button>
      </div>


    </mat-card>
  </div>
</ng-template>
