/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//@font-face {
//  font-family: "Pokemon-Hollow";
//  src: local("Pokemon1"), url("./assets/fonts/Pokemon Hollow.ttf") format("truetype");
//}

@font-face {
  font-family: "Pokemon";
  src: local("Pokemon2"), url("./assets/fonts/Pokemon Solid.ttf") format("truetype");
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding-left: 0;
  padding-right: 0;
}
