/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//@font-face {
//  font-family: "Pokemon-Hollow";
//  src: local("Pokemon1"), url("./assets/fonts/Pokemon Hollow.ttf") format("truetype");
//}

@font-face {
  font-family: "Pokemon";
  src: local("Pokemon2"), url("./assets/fonts/Pokemon Solid.ttf") format("truetype");
}

.mat-mdc-list-base .mat-mdc-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding-left: 0;
  padding-right: 0;
}

@import '~css-star-rating/css/star-rating.min.css';

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 75%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .4s linear infinite;
}

