

<br><br><br>

<div style="display: flex; justify-content: center; margin: 10px;">
  <p style="font-size: 30px">Welcome to the <b><i>Aye App!</i></b>
  <br>  <br><br>
    <span style="font-size: 18px;">Sorry the website was down for a bit. Soon it will be stable and never go down.
    </span>
  </p>

</div>
<br>

<div style="display: flex; justify-content: center">



  <br><br><br>


  <img src="assets/group-pic.jpg" routerLink="/Poop-Diaries"   style="width: 80%; max-width: 800px; border-radius: 8%;">

</div>

<div style="display: flex; justify-content: center">
  Pictured in photo: me, Jonah, and Matthew.
</div>


