<br>

<div style="display: flex; justify-content: center; margin: 10px;">
  <p style="font-size: 30px">Welcome to <b><i>Aye App!</i></b>
    <br> <br><br>
    <span style="font-size: 18px;">
      <u>New Features in <i><b>v0.17</b></i></u>
      <br>
      <span style="margin-left: 10px">🏆 Leaderboards</span>
      <br><br>
      <u>Upcoming Features</u>
       <br>
      <span style="margin-left: 10px">🔒Login Capabilities!</span>
      <br>
    </span>
  </p>
</div>
<br>


<app-authbutton></app-authbutton>
<br>


<ng-container *ngIf="auth.user$ | async as user;">
  <ng-container *ngIf="auth.idTokenClaims$ | async as token;">
    <div style="display: flex; justify-content: center">
      <button mat-stroked-button (click)="updateProfilePicture(user.sub, token.__raw)"
              #tooltip="matTooltip"
              matTooltip="Tap to copy to your clipboard"
              aria-label="Show tooltip on the button at the end of this section">Update Profile

      </button>
    </div>
  </ng-container>
</ng-container>
<br>
<br><br>

<div style="display: flex; justify-content: center">

  <button mat-raised-button
          style="font-family: serif; background-color: slateblue; width: 75%; font-size: 16px; color: white; padding: 20px; max-width: 650px;"
          routerLink="/poop-diaries">
    <b>Launch Poop Diaries🚀</b></button>


</div>

<br><br>

<div style="display: flex; justify-content: center">
  <br><br><br>
  <img src="https://i.redd.it/e651at0fjc0a1.jpg" alt="waltuh" routerLink="/poop-diaries"
       style="width: 85%; max-width: 800px; border-radius: 15px;">
</div>
