

<br><br><br>


<br><br>
<div style="display: flex; justify-content: center">
  <p style="font-size: 30px">Welcome to the Aye App!
  <br>  <br><br>
    <span style="font-size: 18px;">The features are in order on the sidebar in terms of how complete they are.
    <br><br>
      And none of them are even close to being done -- just wait.
    </span>
  </p>

</div>
<br><br><br>

<div style="display: flex; justify-content: center">



  <br><br><br>


  <img src="assets/group-pic.jpg" routerLink="/Poop-Diaries"   style="height: 40%;">

</div>

<div style="display: flex; justify-content: center">
  Pictured in photo: me, Jonah, and Matthew.
</div>


