<h1 mat-dialog-title>Monkey Trophy</h1>

<div
  style="display: flex; justify-content: center; font-size: 80px; padding: 40px">
  <img
    src="/assets/trophies/monkeytrophy.png"
    alt="monkey trophy"
    style="width: 200%"
  />
</div>

<div mat-dialog-content>
  <b>Earned by someone commenting with <br/>a singular 🐵 on your Poop Diary
    post</b>
</div>
<div mat-dialog-content style="padding-top: 0">
  <b><span style="color: #3366ff">24%</span> of users have this trophy</b>
</div>

<div mat-dialog-content style="padding: 0 0 0 5px; font-size: 12px">
  Release date: 02/21/23
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="width: 100%">Close</button>
</div>
