<br />

<div style="display: flex; justify-content: center">
  <p style="font-size: 36px; margin: 30px; line-height: 120%">
    Aye App is currently down for maintenance...
  </p>
</div>
<br />

<div style="display: flex; justify-content: center">
  <img
    src="https://c.tenor.com/XQJ6rBfiOrsAAAAC/laying-down-money.gif"
    width="90%;"
    style="max-width: 1000px; border: 20px"
    alt="Image of bill laying down with money"
  />
</div>

<br /><br />
<div style="display: flex; justify-content: center">
  <p style="font-size: 22px; margin: 30px; line-height: 120%">
    Contact @gonahsoftware on Instagram to get updates or complain.
  </p>
</div>
<br />

<div style="display: flex; justify-content: center">
  <img
    src="https://i.redd.it/ypssjhxvurq61.jpg"
    width="50%;"
    style="max-width: 500px; border: 20px"
  />
</div>
