
<div class="tbg">
  <div class="theader">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="tlogo">
      <img src="../../assets/logos/goblin-logo2.PNG" alt="Goblin Logo" width="1822" height="50"/>
    </div>
  </div>
  <div class="tbgwrap">
    <div class="tphoto">
<!--      <img src="../../favicon.ico" title="tphoto" alt="Tinder Photo" />-->
      <div class="tname">Hank Schrader, <span class="age">44</span></div>
      <img src="../../assets/hank.png" alt="Goblin Logo"/>

      <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div>
    </div>
    <div class="tcontrols">
<!--      <div class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>-->
<!--      <div class="ti"><i class="fa fa-info" aria-hidden="true"></i></div>-->
<!--      <div class="tyes"><i class="fa fa-heart" aria-hidden="true"></i></div>-->

     <br><br><br> they're minerals marie
    </div>
  </div>
<!--  <div class="credit"><a href="http://themakery.jcink.net">Created by Miami</a></div>-->
</div>
